@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --radius: 0.5rem;
  --chart-1: oklch(0.585 0.006 17.330961390132373);
  --chart-2: oklch(0.680 0.068 18.97687559102647);
  --chart-3: oklch(0.778 0.031 17.831752477170795);
  --chart-4: oklch(0.439 0.028 18.28212533779765);
  --chart-5: oklch(0.353 0.012 17.737361913453903);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.143 0.004 17.5814145712287);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.143 0.004 17.5814145712287);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.143 0.004 17.5814145712287);
  --primary: oklch(0.585 0.006 17.330961390132373);
  --primary-foreground: oklch(0.962 0.001 17.17127747166002);
  --secondary: oklch(0.914 0.003 17.213770156409073);
  --secondary-foreground: oklch(0.213 0.004 17.47449353922797);
  --muted: oklch(0.914 0.003 17.213770156409073);
  --muted-foreground: oklch(0.580 0.015 17.607326637336413);
  --accent: oklch(0.818 0.059 66.851913442206);
  --accent-foreground: oklch(0.228 0.030 65.32920856467489);
  --destructive: oklch(0.580 0.237 28.43022926835138);
  --border: oklch(0.922 0.003 17.208294632017292);
  --input: oklch(0.922 0.003 17.208294632017292);
  --ring: oklch(0.585 0.006 17.330961390132373);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.191 0.030 281.6757083691192);
  --foreground: oklch(0.959 0.003 284.7476555785912);
  --card: oklch(0.227 0.040 281.20995477185625);
  --card-foreground: oklch(0.959 0.003 284.7476555785912);
  --popover: oklch(0.227 0.040 281.20995477185625);
  --popover-foreground: oklch(0.959 0.003 284.7476555785912);
  --primary: oklch(0.487 0.205 274.2769433575048);
  --primary-foreground: oklch(0.944 0.020 284.43155886888525);
  --secondary: oklch(0.377 0.050 282.1699812554049);
  --secondary-foreground: oklch(0.956 0.007 284.68633029642524);
  --muted: oklch(0.377 0.050 282.1699812554049);
  --muted-foreground: oklch(0.692 0.038 283.80130991094677);
  --accent: oklch(0.487 0.205 274.2769433575048);
  --accent-foreground: oklch(0.944 0.020 284.43155886888525);
  --destructive: oklch(0.580 0.237 28.43022926835138);
  --border: oklch(0.278 0.054 280.76378553318153);
  --input: oklch(0.278 0.054 280.76378553318153);
  --ring: oklch(0.487 0.205 274.2769433575048);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
